.bg-custom {
	background-color: #303f9f;
}


.navbar .nav-item:hover .nav-link {
	background-color: white;
	color:green;
	border-radius: 15px;  
}

#home {
    background-image: url("img/nen.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 45px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
	background-color: green; 
}
